* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: white;
}

/* Header/Blog Title */
.header {
    padding: 5px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
    color: #C0B283;
    /* width: 450px; */
    text-align: center;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #C0B283;
    position: sticky;
    top: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
    background-color: #F4F4F4;
    color: #C0B283;

}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: white;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: white;
    width: 75%;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Add a card effect for articles */
.card {
    background-color: #f4efe8;
    padding: 20px;
    margin-top: 20px;
    color: #373737;
    border: 1px solid #ddd;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
#tipstricks{
  overflow: scroll;
  background-color: white;
  height: 300px;
  text-align: center;
}
#trending{
  overflow: scroll;
  height: 400px;
  text-align: center;
  background-color: white;
}
#he2{
  text-align: center;
}
img{
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;

}
#acolor{
  color: #373737;
}
button{
  border: none;
  font-family: Arial;
  border-radius: 0;
  height: 20px;
  color: #f3f3f3;
  background-color: #C0B283;
}
button:hover{
  background-color: #f3f3f3;
  color: #C0B283;
}
#sunset{
  width: 100px;
  height: 100px;
  /* float: left; */
  border: none;
  /* display: inline-block; */
}
